:root {
    --bg: #121212;
    --text: #f0f0f0;
    --accent: #CC6CE7;
    --light: #C3AFF5   ;   /* Defines the colors*/
}

body {
    background: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    /* smooth background transitions */
    transition: background 1s ease, color 1s ease;
    height: 100vh;
   /* background: linear-gradient(270deg, #8bc34a, #00bcd4, #e91e63);*/
   background: linear-gradient(270deg, #2e7d32, #004d40, #4a148c);
    background-size: 600% 600%;
    animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.container {      /*Targets the wrapper <div> that holds all page content.*/
    max-width: 1000px;
    margin: 0 auto;
}

h1 { 
    color: var(--accent);
    margin-bottom: 0.5rem;
    transform: scale(1.3);
    text-shadow: 2px 2px 2px #000000;
}

h2 {
    border-bottom: 2px solid var(--accent);
    padding-bottom: 0.5rem;
    margin-top: 2rem;

}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

img {
    width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin: 1rem 0;

    /* enable smooth scaling on hover */
    transition: transform 0.3s ease;
}

img:hover {
    /* scale up slightly when hovered */
    transform: scale(1.02);
}

img:active {
    transform: scale(0.98);
}

a {
    color: var(--accent) ;
    text-decoration: none;
    border-bottom: 1px dashed var(--accent);
    transition: color 0.2s;
    text-shadow: 2px 2px 4px #000000;
}

a:hover {
    color: var(--light);
    border-bottom: 1px solid var(--light);
}

button {
    background: var(--accent);
    color: #FFFFFF;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease, transform 0.1s ease, color 0.3s ease;
    border-radius: 30px;
}

button:hover {
    background: var(--light);
    transform: scale(1.03);
}

button:active {
    transform: scale(0.97);
}

body.dark-gradient {
  background: linear-gradient(270deg, #2e7d32, #004d40, #4a148c);
  background-size: 600% 600%;
  animation: gradientShift 10s ease infinite;
  color: #f0f0f0;
}

body.light-gradient {
  background: linear-gradient(270deg, #8bc34a, #00bcd4, #e91e63);
  background-size: 600% 600%;
  animation: gradientShift 10s ease infinite;
  color: #121212;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
